html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    background: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 2px 4px;
}

button.big_icon {
    padding: 3px 4px;
}

button.big_icon span {
    font-size: 10pt;
}

#file_to_load:hover::before,
button:hover {
    background: #eee;
}

#file_to_load:active::before,
button:active {
    background: #efefef;
}

#file_to_load::-webkit-file-upload-button {
    visibility: hidden;
}

#file_to_load::before {
    content: 'Select file';
    display: inline-block;
    border: 1px solid black;
    outline: none;
    padding: 2px 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}


div#container {
    white-space: nowrap;
    font-size: 0;
}

svg#svg {
    height:100vh;
    width:100%
}

div#graphical_editor {
    display: inline-block;
    width: 50%;
    font-size: 14px;
}

div#lib,
div#code {
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    font-size: 14px;
    border-left: 1px solid black;
}

div#code {
    width: 50%;
}

div#controls {
    padding: 0.5em;
    border-bottom: 1px solid black;
    white-space: normal;
}

div#status {
    padding: 0.5em;
    border-top: 1px solid black;
}

.selected_pad {
    background: #eee;
}

.error_pad {
    background: #f99 !important;
}

ul#gedalib li a {
    color: black;
}
