html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    background: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 2px 4px;
}

#file_to_load:hover::before,
button:hover {
    background: #eee;
}

#file_to_load:active::before,
button:active {
    background: #efefef;
}

#file_to_load::-webkit-file-upload-button {
    visibility: hidden;
}

#file_to_load::before {
    content: 'Select file';
    display: inline-block;
    border: 1px solid black;
    outline: none;
    padding: 2px 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}


div#container {
    white-space: nowrap;
}

svg#svg {
    height:100vh;
    width:100%
}

div#graphical_editor {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #444;
}

div#code {
    display: inline-block;
    width: 50%;
    height: 100vh;
    vertical-align: top;
    border-left: 1px solid black;
}

div#controls {
    padding: 0.5em;
    border-bottom: 1px solid black;
}

.selected_pad {
    background: #eee;
}

.error_pad {
    background: #f99 !important;
}

div#zoom_slider {
    position: fixed;
    top: 20px;
    left: calc(50% - 30px );
    height: calc(100% - 40px);
}

.ui-slider {
    background: white;
    border: 2px solid gray;
}

.ui-slider .ui-slider-range {
    background: #ccc;
}
