html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#container {
    white-space: nowrap;
}

svg#svg {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:50%
}

div#graphical_editor {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #444;
}

div#code {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

div#zoom_slider {
    position: fixed;
    top: 20px;
    left: 50%;
    height: calc(100% - 40px);
}

.ui-slider {
    background: white;
    border: 2px solid gray;
}

.ui-slider .ui-slider-range {
        background: #ccc;
}
